<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <input type="number" placeholder="ingrese el primer numero" v-model="num1">
      <input type="number" placeholder="ingrese el segundo numero" v-model="num2">

      <template v-if="num1 === num2">
        <p>
            los dos numeros son iguales
        </p>
      </template>
      <template v-else>
        <p>
            los dos numeros no son iguales
        </p>
      </template>
    </div>
  </body>
  <script src="app5.js"></script>
</html>
