<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
        <h3>Año</h3>
      <input type="text" placeholder="ingrese dia" v-model="año">
      <h3>Mes</h3>
      <input type="text" placeholder="ingrese mes" v-model="mes">
      <h3>Dia</h3>
      <input type="text" placeholder="ingrese año" v-model="dia">

      <h1>{{dia}}/{{mes}}/{{año}}</h1>
    </div>
  </body>
  <script src="app2.js"></script>
</html>
